<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Campus Core{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/styles/base.css' %}">
</head>
<body>
    {% block test %}

    {% endblock %}
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    {% block content %}
        <h1>Welcome to Campus Core</h1>
        <p>This is the home page of the campus management system. {% lorem 3 b random %}</p>
        <img src="{% static '/image/banner.jpg' %}" width=600px alt="Banner Image">
        <img src="{% static '/image/campus.jpg' %}" width=800px alt="Campus Image">
    {% endblock %} 
    {# footer will be common for all templates #}
    <footer>
        &copy; 2024 Campus Core. All rights reserved.
    </footer>

</body>
</html>