<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Course Catalog</title>
    </head>
    <body>
        <h1>Welcome to the Course Catalog</h1>
        <p>You may select you course from the following!</p>
        <input type="radio" id="cs" name="course" value="Computer Science" />
        <label for="cs">Computer Science</label><br />

        <input
            type="radio"
            id="me"
            name="course"
            value="Mechanical Engineering"
        />
        <label for="me">Mechanical Engineering</label><br />

        <input
            type="radio"
            id="ee"
            name="course"
            value="Electrical Engineering"
        />
        <label for="ee">Electrical Engineering</label><br />

        <input
            type="radio"
            id="ba"
            name="course"
            value="Business Administration"
        />
        <label for="ba">Business Administration</label><br />

        <input type="radio" id="psych" name="course" value="Psychology" />
        <label for="psych">Psychology</label><br />

        <input type="radio" id="bio" name="course" value="Biology" />
        <label for="bio">Biology</label><br />

        <input type="radio" id="eng" name="course" value="English" />
        <label for="eng">English</label><br />

        <input type="radio" id="art" name="course" value="Fine Arts" />
        <label for="art">Fine Arts</label><br />

        <input type="radio" id="econ" name="course" value="Economics" />
        <label for="econ">Economics</label><br />

        <input type="radio" id="nurs" name="course" value="Nursing" />
        <label for="nurs">Nursing</label><br /><radio> </radio>
    </body>
</html>
