#container
{
    font-size: 34px;
    text-align: center;
    background-color: aqua;
    border: solid red 10px;
    height: 300px;
    display: flex;
    /*flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: end;
    flex-wrap: wrap;*/

}
.item
{
    background-color: red;
    width: 100px;
    height: 100px;
    border: solid gold 10px;

}
#item1
{
    flex-grow: 0;
    order: 3;
}
#item2
{
    flex-grow: 1;
    order: 6;
}#item5
{
    flex-grow: 1;
    order: 4;
}

#item3
{
    flex-grow: 2;
    order: 5;
}
#item4
{
    flex-grow: 3;
    order: 2;
}
#item6
{
    flex-grow: 4;
    order: 1;
    align-self: flex-end;
    flex-shrink: 2;

}