/*universal selector*/
        *
        {
            text-transform: capitalize;
            background-color: rgb(221, 210, 210);
            text-align: justify;
            font-family: 'Times New Roman', 'Times', 'serif';
            font-weight: bold;
            background-image: url(https://www.toonsarah-travels.blog/wp-content/uploads/2023/03/001-feature-14-012-P1040585-Cayena-Beach-Villas.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
        h1
        {
            text-align: center;
            font-size: xx-large;
            color-scheme: unset;
            text-decoration-style: dotted;
            color: rgb(210, 30, 30);
        }
        p
        {
            text-align: justify;
            color: #28cc1f;
            line-height: 50px;
            word-spacing: 5%;
            letter-spacing: normal;
            
        }