{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Course Catalog</title>
    </head>
    <body>
        <h1>Welcome to the Course Catalog</h1>
        <hr>
        <h2>Total UG Courses</h2>
        <p>{{ count.UG }}</p>
        <h2>Total PG Courses</h2>
        <p>{{ count.PG }}</p>
        {% if count.PG > 3 %}
        <h2 style="color:green;"> Naac Approved </h2>
        {% else %}
        <h2 style="color:red;"> Not Naac Approved </h2>
        {% endif %}
        <h2> Courses</h2>
        <ul>
        {% for course in courses %}
        <li>{{ course }}</li>
        {% endfor %}
        </ul>
        {% include 'partials/form.html' %}
    </body>
</html>
{% endblock %}